<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangx.platform.mapper.KpiModelMapper">
	<insert id="insert" parameterType="map">
		insert into kpimodel(
		kpiModellId,
		kpiModelName,
		kpiModelCode,
		kpiModelType,
		kpiModelHtml,
		kpiModelJs,
		kpiModelData
		) values (
		#{kpiModellId},
		#{kpiModelName},
		#{kpiModelCode},
		#{kpiModelType},
		#{kpiModelHtml},
		#{kpiModelJs},
		#{kpiModelData}
		)
	</insert>

	<select id="find" parameterType="map" resultType="map">
		SELECT
			kpiModellId,
			kpiModelCode,
			kpiModelName,
			kpiModelType,
			kpiModelHtml,
			kpiModelJs,
			kpiModelData
		FROM kpimodel
		<where>
			1=1
			<if test="kpiModellId != null and kpiModellId != ''">
				and kpiModellId=#{kpiModellId}
			</if>
			<if test="kpiModelCode != null and kpiModelCode != ''">
				and kpiModelCode=#{kpiModelCode}
			</if>
				<if test="kpiModelName != null and kpiModelName != ''">
				and kpiModelName like '%{kpiModelName}%'
			</if>
				<if test="kpiModelType != null and kpiModelType != ''">
				and kpiModelType=#{kpiModelType}
			</if>
		</where>
	</select>
	<select id="findOne" parameterType="string" resultType="map">
		SELECT
			kpiModellId,
			kpiModelCode,
			kpiModelName,
			kpiModelType,
			kpiModelHtml,
			kpiModelJs,
			kpiModelData
		FROM kpimodel
		WHERE kpiModellId = #{KpiModelId}
	</select>


</mapper>